/* styles.css */
body {
  font-family: Arial, sans-serif;
}

.header {
  background-color: #36b8f4;
  padding: 30px 40px;
  color: white;
  text-align: center;
}

#myInput {
  width: 75%;
  padding: 10px;
  border: none;
  font-size: 16px;
}

.addBtn {
  padding: 10px;
  width: 15%;
  background: #d9d9d9;
  color: #555;
  text-align: center;
  border: none;
  cursor: pointer;
  float: right;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

li.completed span {
  text-decoration: line-through;
  color: #888;
}

li:hover {
  background: #ddd;
}

li input[type="checkbox"] {
  margin-right: 10px;
}

.removeBtn {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}